.Header {
    border-bottom: 3px solid var(--blue);
    background: var(--blue);
    color: var(--white);
    position: relative;
    .Content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul {
            display: flex;
            list-style-type: none;
            li {
                display: inline;
                padding-left: 1rem;
            }
        }
    }
}