@import '../../styles/mixin.scss';
.Header {
    color: var(--white);
    top: 0;
    left: 0;
    margin-top: 3rem;
    position: sticky !important;
    z-index: 100;
    width: 100%;
    box-sizing: border-box;

    // Active class for nav items;
    .Active {
        background: var(--white);
        color: var(--black);
        font-weight: bold;
    }
    // class to add to nav bar when the upper
    // edge is at the top of the screen
    .Top {
        max-width: 100% !important;
        .LogoAndSlogan {
            .LogoContainer {
                width: 70px !important;
                height: 40px !important;
            }
            .Slogan {
                font-size: .6rem !important;
            }
        }
    }

    .Content {
        background: var(--blue);
        margin: 3rem 0;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        max-width: 1024px;
        margin: 0 auto;
        @include transition;
        
        .LogoAndSlogan {
            display: flex;
            flex-grow: 2;
            // border: 1px solid red;
            .LogoContainer {
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                margin: 5px 5px 5px 2rem;
                width: 50px;
                height: 70px;
                @include transition;
                img {
                    width:100%;
                    opacity: 0;
                }
                @include media($mobile) {
                    margin-left: 1rem;
                }
            }
            .Slogan {
                display: flex;
                padding-left: 2rem;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                font-size: .8rem;
                letter-spacing: 1px;
                @include transition;
                @include media($mobile) {
                    font-size: .6rem;
                }
            }
        }
        ul {
            display: flex;
            align-items: stretch;
            padding-left: 0;
            list-style-type: none;
            font-family: 'Oswald', sans-serif;
            @include media($tablet){
                display: none;
            }
            li {
                display: inline;
                margin: 0;
                display: flex;
                align-items: stretch;
                a {
                    padding: 10px 20px;
                    text-transform: uppercase;
                    font-size: .9rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 500ms ease;
                    &:hover {
                        background: var(--white);
                        color: var(--black);
                    }
                }
            }
        }
        .BurgerIcon {
            display: none;
            justify-content: center;
            align-items: center;
            margin-right: 2rem;
            
            button {
                background: transparent;
                border: none;
                outline: none;
                color: var(--white);
                i {
                    font-size: 2.5rem;
                }
            }
            @include media($tablet) {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            @include media($mobile) {
                margin-right: 1rem;
            }
        }
    }
    
    
    .MobileNav {
        height: 100%;
        width: 50%;
        position: fixed;
        top: 0;
        right: -120%;
        background: var(--blue);
        .LogoContainer {
            background-repeat: no-repeat;
            background-position: center center;
            text-align: center;
            background-size: contain;
            margin: 5px 5px 5px 1rem;
            width: 100%;
            height: 150px;
            overflow: hidden;
            img {
                width: 200px;
                opacity: 0;
            }
        }
        ul {
            list-style-type: none;
            padding: 0;
            font-family: var(--roboto);
            li {
                display: inline;
                margin: 0;
                display: flex;
                align-items: stretch;
                a {
                    padding: 10px 20px;
                    text-transform: uppercase;
                    font-size: .9rem;
                    padding: 1.5rem;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 500ms ease;
                    &:hover {
                        background: var(--white);
                        color: var(--black);
                    }
                }
            }
        }
        @include media($mobile) {
            width: 100%;
        }
    }

    .OpenMobileNav {
        right: 0;
    }
    
}