@import '../../../styles/mixin.scss';
.CampusLife {
    background-color: var(--white);
    padding: 6rem 0;
    width: 100%;
    header {
        text-align: center;
        width: 100%;
        h2 {
            text-transform: uppercase;
        }
    }
    main {
        padding-top: 3rem;
        .CampusLifeImages {
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            div {
                width: 24%;
                height: 100%;
                background-size: cover;
                transition: all 500ms ease;
                &:nth-child(even) {
                    height: 90%;
                    &:hover {
                        height: 100%;
                    }
                }
                
            }
            @include media($laptop) {
                height: 350px;
            }
            @include media($mobile) {

                div {
                    background-position: center center;
                    width: 100%;
                    display: none;
                    &:nth-child(1) {
                        display: block;
                    }
                }
            }
        }
        .Content {
            padding: 3rem 0;
            p {
                width: 70%;
                margin: 0 auto;
                line-height: 2rem;
                letter-spacing: 0.09em;
                text-align: center;
                font-size: 1.3em;
                
            }
            @include media($mobile) {
                padding: 3rem 0 1rem 0;
                p {
                    font-size: 1.1rem;
                    line-height: 1.4rem;
                    width: 90%;
                }
            }
            
        }

    }
}