@import '../../styles/mixin.scss';
.Hero {
    // Space holder 
    box-sizing: border-box;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .HeroContent {
        width: 100%;
        max-width: 1000px;
        color: var(--white);
        text-shadow: 2px 2px 2px black;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .Logo {
            text-align: center;
            img {
                padding-bottom: .5rem;
                @include media($mobile) {
                    width: 200px;
                }
            }
            h1 {
                padding-bottom: 1rem;
                font-weight: bold;
                font-size: 2rem;
                text-transform: uppercase;
            }
        }
        .CallToAction {
            a {
                display: inline-block;
                display: flex;
                padding: .9rem 2rem;
                justify-content: center;
                align-items: center;
                background: var(--blue);
                font-family: var(--roboto);
                letter-spacing: 1px;
                font-weight: bold;
                font-size: 1rem;
                text-transform: uppercase;
                text-shadow: none;
                position: relative;
                svg {
                    position: relative;
                    margin-left: 10px;
                    display: block;
                    width: 25px;

                }
                &:after {
                    border: 1px solid white;
                    content: '';
                    display: block;
                    position: absolute;
                    top: -4px;
                    bottom: -4px;
                    right: -4px;
                    left: -4px;
                    transition: all 400ms ease;
                    opacity: 0;
                }
                &:hover {
                    &::after {
                        opacity: 1;
                    }
                    svg {
                        animation: point 400ms ease alternate;
                    }
                }

            }
        }
        @include media($laptop) {
            max-width: 100%;
        }
        @include media($mobile) {
            padding: 2rem;
            flex-direction: column;
            .Logo {
                padding-bottom: 2rem;
                h1 {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .HeroBackground {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.267);
        z-index: -1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top left;
        @include media($mobile) {
            background-position: left center;
        }
    }
}

@keyframes point {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}