@import '../../styles/mixin.scss';
.Hero {
    // Space holder
    box-sizing: border-box;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .HeroContent {
        width: 100%;
        max-width: 1000px;
        color: var(--blue);
        img {
            padding-bottom: 2rem;
            @include media($mobile) {
                width: 200px;
            }
        }
        h1 {
            padding-bottom: 1rem;
            font-weight: bold;
            font-size: 3rem;
        }
        @include media($laptop) {
            max-width: 600px;
        }
        @include media($mobile) {
            padding: 2rem;
            h1 {
                font-size: 2rem;
            }
        }
    }

    .HeroBackground {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.267);
        z-index: -1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top left;
        @include media($mobile) {
            background-position: top center;
        }
    }
}