@import '../../../styles/mixin.scss';

.ContactLink {
    display: flex;
    height: 300px;
    align-items: stretch;
    @include media($laptop) {
        height: 250px;
    }
    div {
        width: 20%;
        background: grey;
        background-size: cover;
    }
    .TileOne {
        width: 30%;
    }
    .TileTwo {
        background: var(--white);
        color: var(--black);
        width: 30%;
        .LinkTile {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            font-size: 1.2rem;
            font-family: var(--roboto);
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: bold;
            text-align: center;
            span {
                line-height: 2rem;
            }
            @include media($tablet) {
                font-size: 1rem;
            }
        }
    }
    @include media($mobile) {
        display: block;
        height: auto;
        div {
            height: 200px;
            width: 100% !important;
            &:nth-child(1),
            &:nth-child(3) {
                display: none;
            }
        }
    }
    
}