@import '../../../styles/mixin.scss';

.GalleryCampusLife {
    display: flex;
    height: 420px;
    align-items: stretch;
    @include media($laptop) {
        height: 250px;
    }
    .GalleryLink {
        color: white;
        width: 30%;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        .LinkTile {
            transition: all 500ms ease;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                background-color: var(--black-transparent);
            }
            &:after {
                display: flex;
                justify-content: center;
                align-items: center;
                content: 'Gallery';
                border: 2px solid var(--white);
                height: 50%;
                width: 50%;
            }
        }
        
    }
    .CampusLifeLink {
        background: var(--blue);
        color: var(--white);
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .LinkTile {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        font-size: 1.2rem;
        font-family: var(--roboto);
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
        @include media($tablet) {
            font-size: 1rem;
        }
    }
    .Video {
        background: var(--black);
        width: 40%;
        background-size: cover;
        background-position: top right;
        overflow: hidden;
        position: relative;
        video {
            width: 130%;
            position: absolute;
            top: 0;
            left: -5%;
            @include media($laptop) {
                left: -10%;
            }
            @include media($laptop) {
                height: 100%;
                width: auto;
            }
            @include media($mobile) {
                display: none;
            }
        }
    }

    @include media($mobile) {
        display: block;
        height: auto;
        div {
            height: 200px;
            width: 100% !important;
        }
    }
}