.CoursesLink {
    display: flex;
    height: 380px;
    align-items: stretch;
    .ImageOne {
        background-size: contain;
        width: 30%;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    .Course {
        width: 30%;
        background: var(--black);
        color: var(--white);
    }
    .ImageTwo {
        width: 40%;
    }
    .LinkTile {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        font-size: 1.2rem;
        font-family: var(--roboto);
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
    }
}