@import '../../../styles/mixin.scss';
.CoursesLink {
    display: flex;
    height: 380px;
    align-items: stretch;
    @include media($laptop) {
        height: 250px;
    }
    .ImageOne {
        background-size: contain;
        width: 30%;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    .Course {
        width: 30%;
        background: var(--black);
        color: var(--white);
    }
    .ImageTwo {
        width: 40%;
        @include media($mobile) {
            display: none;
        }
    }
    .LinkTile {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        font-size: 1.2rem;
        font-family: var(--roboto);
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
        @include media($tablet) {
            font-size: 1rem;
        }
    }
    @include media($mobile) {
        display: block;
        height: auto;
        div {
            height: 200px;
            width: 100% !important;
        }
    }
}