.AboutFrontPage {
    background: var(--black-transparent);
    color: var(--white);
    width: 100%;
    .AboutContent {
        padding: 5rem 0;
        display: flex;
        .Heading {
            width: 40%;
            .HeadingInner {
                display: flex;
                align-items: center;
                padding: 1rem 1rem 1rem 0;
                h2 {
                    width: 50%;
                }
                .Line {
                    height: 2px;
                    background: var(--white);
                    width: 30%;
                }
            }
        }
            
        .Paragraph {
            width: 50%;
            font-size: 1.3em;
            p {
                margin: 0;
                padding-bottom: 3rem;
                line-height: 2rem;
                letter-spacing: 0.09em;
            }
            a {
                display: inline-block;
                background: var(--blue);
                padding: 1rem 3rem;
                span {
                    display: inline-block;
                    padding-right: 1rem;
                }
            }
        }
    }
}